.my-flix {
    color: steelblue;
}

body {
    background: url('https://images.unsplash.com/photo-1525215351243-2ba501f3442c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80')no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

form-container {
    position: fixed;
    padding: 1rem;
    margin-right: 0;
    margin-left: 0;
    border: .0.5rem solid;
    border-radius: 7px;
}