.my-flix {
    color: steelblue;
}

body {
    background: url('https://image.tmdb.org/t/p/original/a6cDxdwaQIFjSkXf7uskg78ZyTq.jpg')no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

form-container {
    position: fixed;
    padding: 1rem;
    margin-right: 0;
    margin-left: 0;
    border: .0.5rem solid;
    border-radius: 7px;
}

h1 {
    text-align: center;
}