* {
    box-sizing: border-box;
}

.director-view {
    justify-content: center;
    margin: auto;
    font-family: 'Noto Sans', sans-serif;
    background-color: azure;
    padding: 20px
}

.button-card {
    margin: 10px;
    padding: 5px;
}

.director-name {
    font-weight: bold;
    text-align: center;
}