* {
    box-sizing: border-box;
}

.director-info {
    justify-content: center;
    margin: auto;
    font-family: 'Noto Sans', sans-serif;
}

.button-card {
    margin: 10px;
    padding: 5px;
}

.director-name {
    font-weight: bold;
    text-align: center;
}