body {
    // background: url('http://clipart-library.com/images/pTqrbEXkc.jpg')no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}


.logContainer {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    margin-top: 20px;
    width: 60%;
    color: #fff;
    padding: 35px;
    opacity: 0.97;
}

h1 {
    text-align: center;
    color: rgb(235, 230, 221);
}