$primary-color: rgb(73, 80, 87);
$secondary-color: rgb(108, 115, 130);


body {
    background: url('http://clipart-library.com/images/pTqrbEXkc.jpg')no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}


.logContainer {
    background-color: $primary-color;
    border-radius: 25px;
    color: $secondary-color;
    margin-top: 20px;
    width: 60%;
    color: #fff;
    padding: 35px
}

h1 {
    text-align: center;
    color: #ef6262;
}