$primary-color: rgb(37, 94, 80);
$secondary-color: rgb(108, 115, 130);


body {
    background: url('https://images.unsplash.com/photo-1513106580091-1d82408b8cd6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1655&q=80');
    background-size: cover;
    background-repeat: no-repeat;
}

.regContainer {
    background-color: $primary-color;
    border-radius: 25px;
    color: $secondary-color;
    margin-top: 20px;
}